body {
  /* メッセージ表示のため */
  position: relative;
  min-height: 100vh;
}

li {
  list-style: none;
}

#header {
  text-align: center;
  background-color: rgb(173, 246, 240);
}

/* テンプレ選択 */
.tem-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.tem {
  padding-top: 10px;
  padding-left: 10px;
  /* width: 33%; */
  /* text-align: center; */
}


/* テンプレ一覧 */
.all-wrap {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  /* gap: 30px; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

.tem-title {
  width: 100px;
  text-align: center;
  /* contentをrelativeしてる */
  position: absolute;
  left: 36%;
  top: -0.8%;
  border-radius: 10px;
  background-color: white;
  padding: 4px;
}

.shinkiagari {
  border: 4px solid lime;
}

.apo {
  border: 4px solid red;
}

.kanni {
  border: 4px solid rgb(173, 246, 240);
}

.love {
  border: 4px solid #ff1493;
}

.content {
  display: none;
  width: 25%;
  position: relative;
}

.content.selected {
  display: block;
  width: 25%;
  position: relative;
}

.wrap {
  border: 2px solid black;
  height: 60vh;
  overflow-y: auto;
  padding: 30px 10px;
  margin: 18px;
}

.text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed gray;
  padding-bottom: 20px;
}

.text-wrap > p {
  width: 70%;
}

span {
  color: red;
}

.copybtn {
  height: 30px;
  margin: 10px;
  padding: 4px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px gray;
  border-radius: 4px;
  font-size: 1vw;
}

.copybtn:hover {
  background-color: rgba(228, 228, 228, 0.909)
}

.msg-txt {
  display: none;
  position: fixed;
  bottom: 0;
  left: 36%;
  background-color: rgb(173, 246, 240);
  opacity: 0.9;
  border-radius: 4px;
  width: 400px;
  text-align: center;
  font-weight: bold;
  margin: 50px 0;
  padding: 10px;
}

@media screen and (max-width: 937px){
.content.selected {
  display: block;
  width: 50%;
  position: relative;
}
}

@media screen and (max-width: 430px){
  .content.selected {
    display: block;
    width: 100%;
    position: relative;
  }
}