body {
  /* メッセージ表示のため */
  position: relative;
  min-height: 100vh;
}

li {
  list-style: none;
}

#header {
  text-align: center;
  background-color: rgb(173, 246, 240);
  position: relative;
}

.count,
.height-change,
.width-change,
.scroll-action {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 4px 8px;
  font-size: 16px;
}

.count:hover,
.height-change:hover,
.width-change:hover,
.scroll-action:hover {
  background: #1d49aa;
}

.balloon {
  display: none;
  width: 300px;
  margin-top: 12px;
  padding: 8px 8px 8px 32px;
  background-color: #1d49aa;
  color: #fff;
  font-size: 80%;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
}

.scale-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 8px;
}

.scale-wrap:hover .balloon {
  display: inline;
}

.height-change,
.width-change {
  margin-right: 5px;
}

.count-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.count-status {
  margin-right: 40px;
}
 
/* テンプレ選択 */
.tem-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.tem {
  padding-top: 10px;
  padding-left: 10px;
  /* width: 33%; */
  /* text-align: center; */
}


/* テンプレ一覧 */
.all-wrap {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  /* gap: 30px; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

.tem-title {
  width: 120px;
  text-align: center;
  /* contentをrelativeしてる */
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  border-radius: 10px;
  background-color: white;
  padding: 4px;
}

.shinkiagari {
  border: 3px solid lime;
}

.apo {
  border: 3px solid red;
}

.keigo {
  border: 3px solid rgb(229, 137, 241);
}

.love {
  border: 3px solid #ff1493;
}

.content {
  display: none;
}

.content.selected {
  display: block;
  width: 25%;
  position: relative;
}

.selected.twice {
  width: 50%;
}

.wrap {
  border: 2px solid black;
  height: calc(100vh - 280px);
  overflow-y: auto;
  padding: 30px 10px;
  margin: 18px;
}

.half {
  height: calc(50vh - 145px);
}

.scroll-wrap {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed gray;
  padding-bottom: 20px;
  scroll-snap-align: center;
}

.text-wrap > p {
  width: 80%;
}

span {
  color: red;
}

.copybtn {
  height: 30px;
  margin: 10px;
  padding: 4px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px gray;
  border-radius: 4px;
  font-size: 1vw;
}

.copybtn:hover {
  background-color: rgba(228, 228, 228, 0.909)
}

.msg-txt {
  display: none;
  position: fixed;
  bottom: 0;
  left: 36%;
  background-color: rgb(173, 246, 240);
  opacity: 0.9;
  border-radius: 4px;
  width: 400px;
  text-align: center;
  font-weight: bold;
  margin: 50px 0;
  padding: 10px;
}


/* ================
ログイン画面
================*/
.textbox {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(215, 213, 213);
  padding: 12px;
}

.textbox:hover {
  background-color: rgb(221, 218, 218);
}

.button {
  width: calc(20% + 30px);
  height: 30px;
  border: 1px solid rgb(145, 145, 145);
  box-shadow: 1px 1px 1px gray;
  border-radius: 5px;   
}

#main {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  /* height: 500px; */
  background-color: white;
  color: black;
  border-radius: 20px;
  /* margin: auto; */
  border: 2px solid black;
  padding: 30px;
}

.container > h1 {
  text-align: center;
}

.container > p {
  margin-bottom: 10px;
}

.showhide {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.showhide > p {
  margin-left: 10px;
}

.button:hover {
 background: rgb(145, 145, 145);
}

.margin {
  display: block;
  margin: 20px auto;
}

@media screen and (max-width: 937px){
.content.selected {
  display: block;
  width: 50%;
  position: relative;
}
}

@media screen and (max-width: 430px){
  .content.selected {
    display: block;
    width: 100%;
    position: relative;
  }
}